h1 {
    color:cornflowerblue; font-size: 20px }

h4{color: crimson;font-weight: 100;font-weight: bold; }
label{color: crimson;font-weight: 100;font-weight: bold; }
button{background-color: black;color: blanchedalmond ;font-size: 40px;}
fieldset
{border-color:yellowgreen;}
input{border-color:yellowgreen}